.notification-container {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 0px;
  max-width: 180px;
  color: white;
  animation: drop-in 1s;
  animation-fill-mode: forwards;
}

.notification-body {
  flex: 1;
  padding: 12px;
  border-radius: 5px;
  font-weight: 550;
  font-size: 14px;
  white-space: nowrap;
}

.notification-body.success {
  background-color: #0e6305;
}

.notification-body.error {
  background-color: red;
}

@keyframes drop-in {
  from {
    top: -100px;
  }
  to {
    top: 40px;
  }
}
