.multiple-choice-input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: 1px solid var(--input-border-color);
  font-size: var(--input-font-size);
  background-color: white;
}

.multiple-choice-input-choice-container {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: var(--input-padding) 0;
}
