.form-editor-container {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  width: 50vw;
}

.form-editor {
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: #b1b0b5 0 0 2px 1px;
  padding: 40px;
  min-height: 80vh;
  width: 100%;
  gap: 10px;
  background-color: white;
}

.form-editor-form-title.input-container {
  margin-bottom: 20px;
}

.form-editor-form-title.text-input {
  font-weight: 550;
  align-self: center;
  text-align: center;
  font-size: 18px;
}

.form-editor-add-component-button {
  display: flex;
  flex-shrink: 0;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  background-color: white;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  color: unset;
  transition: color 0.15s;
  border: 1px solid var(--input-border-color);
  overflow: hidden;

  &:hover {
    color: var(--highlight-blue);
    border: 1px solid var(--input-border-color-dark);
  }
}

.form-editor-add-component-button-icon {
  padding: 8px;
}

.form-editor-form-buttons {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 40px;
  left: 2%;
}

.form-editor-upload-form-button,
.form-editor-preview-form-button {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  box-shadow: 0px 0px 10px 4px #bebebe;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 30px;
  transition: color 0.15s ease;

  &:hover {
    color: var(--highlight-blue);
  }
}

.form-editor-button-icon {
  padding: 20px;
}
