* {
  margin: 0px;
  padding: 0px;
}

:root {
  --disabled-gray: #f2f2f3;
  --disabled-dark-gray: #ededee;
  --highlight-blue: #06f;
  --highlight-dark-blue: #005ce6;
  --input-border-color: #d8d8da;
  --input-border-color-dark: #b6b6b6;
  --input-placeholder-fg: #b1b0b5;
  --input-font-size: 14px;
  --input-border-radius: 5px;
  --input-padding: 8px;
  --input-height: 33px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
