.multiple-entry-options-add-button {
  border: none;
  background-color: white;
  cursor: pointer;
  align-self: center;
  font-size: 22px;
  text-align: center;
  transition: color 0.2s;
  &:hover {
    color: var(--highlight-blue);
  }
}

.multiple-entry-options-modifier-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.multiple-entry-options-modifier-option {
  position: relative;
}

.multiple-entry-options-remove-option-button {
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
  transition: color 0.2s;
  &:hover {
    color: var(--highlight-blue);
  }
}
