.date-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  box-shadow: inset var(--input-box-shadow-light) 0 0 0 1px;
  font-size: var(--input-font-size);
}

.date-input:focus {
  outline: none;
}

.Calendar {
  width: 300px;
}

.DatePicker {
  width: 100%;
}

.DatePicker__calendarContainer {
  left: 135px;
}

.DatePicker__input::placeholder {
  color: var(--input-placeholder-fg);
}
