.text-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  box-shadow: inset var(--input-box-shadow-light) 0 0 0 1px;
  font-size: var(--input-font-size);
  transition: box-shadow 0.15s ease;

  &::placeholder {
    color: var(--input-placeholder-fg);
    font-size: var(--input-placeholder-font-size);
  }

  &:hover {
    box-shadow: inset var(--input-box-shadow-dark) 0 0 0 1px;
  }

  &:focus {
    outline: none;
  }
}
