.landing-page-header {
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
}

.landing-page-header-logo {
  border-radius: 15px;
  height: 60px;
  margin: 10px 40px;
}

.landing-page-header-github-link {
  margin-left: auto;
  margin-right: 40px;
  cursor: pointer;
  min-width: 100px;
  color: white;
  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
  position: relative;
  background-color: hsla(0, 0%, 100%, 0.1);
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  gap: 10px;

  &::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    transition: transform 0.3s;
    border-radius: 30px;
  }
  &:hover {
    color: var(--highlight-blue);
    &::before {
      transform: scaleY(1);
    }
  }
}

.landing-page-header-github-icon {
  height: 20px;
  z-index: 1;
}

.landing-page-header-github-text {
  z-index: 1;
}
