.form-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  overflow-y: auto;
  width: 100%;
  mask-image: linear-gradient(black, 96%, #00000000);
}

.form-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--input-border-color);
}

.form-list-empty-row {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  color: gray;
  border-bottom: 1px solid var(--input-border-color);
}
