.components-view-mode-toggle-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

.components-view-mode-toggle {
  border:none;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor:pointer;
  font-size:16px;
  background-color:unset;

  &:hover{
    background-color: #dddddd;
  }

  &.active {
    background-color: #8d5eff;
    color: white;
  }
}
