.components-view-mode-toggle-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.components-view-mode-toggle {
  background-color: white;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #dddddd;
  }

  &.active {
    background-color: #8d5eff;
    color: white;
  }
}
