.form-builder-header {
  min-height: 60px;
  display: flex;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
  background-color: white;
}

.form-builder-header-user-details {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.form-builder-header-user-icon {
  font-size: 20px;
}

.form-builder-header-sign-out-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  margin-left: auto;
  margin-right: 10px;

  &:hover {
    color: var(--highlight-blue);
  }
}
