.color-input-container {
  position: relative;
}

.color-input-container {
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.color-input-color-block {
  height: 100%;
  width: 100%;
}

.color-picker-container {
  z-index: 1;
  position: absolute;
  top: 68px; // input container's height
}
