.border-color-modifier-input-container {
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.border-color-modifier-input-color-block {
  height: 100%;
  width: 100%;
}

.border-color-modifier-picker-container {
  width: 225px;
}
