.submissions-view-container {
  padding-top: 50px;
}

.submissions-view-form-name {
  font-size: 18px;
  font-weight: 550;
}

.submissions-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submissions-view-submission-container {
  display: flex;
  gap: 20px;
  background-color: gray;
  padding: 14px;
  border-radius: 12px;
  color: white;
}

.submissions-view-submission-answer {
  display: flex;
  flex-direction: column;
}

.submissions-view-submission-answer-title {
  font-size: 18px;
}

.submissions-view-submission-answer-value {
}
