.home-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-bottom: 80px;
}

.home-view-background-image {
  z-index: -1;
  position: absolute;
}

.home-view-intro {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-view-intro-title {
  color: white;
  font-size: 60px;
}

.home-view-intro-subtitle {
  color: white;
  font-size: 22px;
}

.home-view-intro-get-started-container {
  margin-top: 90px;
  width: 300px;
  background-color: #ae59ff;
  box-shadow: 0px 0px 5px 1px white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-view-intro-get-started-text {
  color: white;
  font-size: 22px;
  text-decoration: fade-in;
}

.home-view-intro-link-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.home-view-intro-link {
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

.home-view-intro-link-text::before {
  position: absolute;
  content: "";
  width: 0%;
  border-bottom: 4px solid var(--highlight-blue);
  transition: width 0.15s ease;
  left: 0px;
  top: 20px;
}

.home-view-intro-link-text:hover::before {
  width: 100%;
}

.home-view-intro-link-slash {
  color: white;
  font-size: 20px;
}

.home-view-form-image {
  margin-top: 120px;
  border: 1px solid var(--input-border-color);
  border-radius: 20px;
}

.home-view-image-top-dot {
  position: relative;
  top: -505px;
  right: -356px;
}

.home-view-image-bottom-dot {
  position: relative;
  top: -385px;
  right: 356px;
}

.home-view-descriptions-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}

.home-view-description-section {
  gap: 80px;
  display: flex;
  width: 100%;
  align-items: top;
  justify-content: center;
}

.home-view-description-section-text-section {
  display: flex;
  flex-direction: column;
}

.home-view-rocket-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: #cc51ff;
  border-radius: 50%;
}

.home-view-rocket-icon {
  color: white;
  font-size: 50px;
}

.home-view-description-title {
  font-size: 41px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 20px;
}

.home-view-description-text {
  font-size: 16px;
  max-width: 500px;
}

.home-view-description-image {
  height: 230px;
}

.home-view-centered-description-section {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.home-view-description-centered-title {
  text-align: center;
  font-size: 41px;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 20px;
}
