.editable-component-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editable-component-drag-handle {
  display: flex;
  position: absolute;
  left: -35px;
  align-items: center;
  justify-content: center;
  cursor: grab;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;

  &:hover {
    color: var(--highlight-blue);
  }
}

.editable-component-buttons {
  display: flex;
  gap: 5px;
  position: absolute;
  right: -68px;
  margin-top: -37px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0px 0px 0px 1px #bebebe;
  padding: 5px;
}

.editable-component-delete-button,
.editable-component-edit-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: unset;
  transition: color 0.15s;
  border: 1px solid var(--input-border-color);
  overflow: hidden;

  &:hover {
    color: var(--highlight-blue);
    border: 1px solid var(--input-border-color-dark);
  }
}
.editable-component-drag-handle-icon,
.editable-component-button-icon {
  padding: 8px;
}
