.text-input {
  width: 100%;
  height: var(--input-height);
  box-sizing: border-box;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: 1px solid var(--input-border-color);
  font-size: var(--input-font-size);
  transition: border 0.15s ease;

  &::placeholder {
    color: var(--input-placeholder-fg);
  }

  &:hover {
    border-color: var(--input-border-color-dark);
  }

  &:focus {
    outline: none;
  }
}
