.form {
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: #b1b0b5 0 0 2px 1px;
  padding: 40px;
  min-height: 80vh;
  gap: 10px;
  background-color: white;
  margin-top: -30px;
  justify-content: center;
  width: 50vw;
}
