.form-builder-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-builder-add-form-button {
  position: absolute;
  left: 50px;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  font-size: 30px;
  box-shadow: 0px 0px 10px 4px #bebebe;
  border-radius: 50%;
  transition: color 0.15s ease;
  cursor: pointer;
  background-color: #ffffff;
  color: unset;

  &:hover {
    color: var(--highlight-blue);
  }
}
