.form-editor-container {
  display: flex;
  justify-content: center;
}

.form-editor {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 50vw;
  gap: 10px;
  margin-right: 200px;
}

.form-editor-form-title.input-container {
  margin-bottom: 20px;
}

.form-editor-form-title.text-input {
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--input-box-shadow-dark);
  font-weight: 550;
  align-self: center;
  text-align: center;
  font-size: 18px;
}

.form-editor-input-go-back-link {
  position: absolute;
  margin: 10px;
  font-size: 20px;
  transition: color 0.15s ease;
  color: unset;
  left: 10px;

  &:hover {
    color: var(--highlight-blue);
  }
}

.form-editor-add-input-button {
  display: flex;
  flex-shrink: 0;
  align-self: center;
  align-self: center;
  margin-top: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: unset;
  transition: color 0.15s;

  &:hover {
    color: var(--highlight-blue);
    box-shadow: inset var(--input-box-shadow-dark) 0 0 0 1px;
  }
}

.form-editor-upload-form-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  font-size: 30px;
  box-shadow: 0px 0px 10px 4px #bebebe;
  border-radius: 50%;
  transition: color 0.15s ease;
  cursor: pointer;
  background-color: #ffffff;

  &:hover {
    color: var(--highlight-blue);
  }
}
