.form-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-list-header {
  margin-top: 20px;
}

.form-list-forms-container {
  display: grid;
  gap: 20px 20px;
  place-items: center;
  margin-top: 120px;
  grid-template-columns: repeat(auto-fit, 170px);
  width: 80%;
}

.form-list-new-form-explanation {
  justify-self: center;
}

.form-list-new-form-and-arrow-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.form-list-new-form-arrow {
  position: relative;
  animation: bounce-arrow 1.55s ease-in-out;
  transform: rotate(45deg);
  font-size: 24px;
  animation-iteration-count: infinite;
}

.form-list-new-form-button {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  font-size: 30px;
  box-shadow: 0px 0px 10px 4px #bebebe;
  border-radius: 50%;
  transition: color 0.15s ease;

  background-color: #ffffff;
  text-decoration: none;

  &:visited {
    color: unset;
  }

  &:hover {
    color: var(--highlight-blue);
  }
}

@keyframes fade-in-with-scale {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-arrow {
  0% {
    opacity: 100%;
    bottom: 0px;
    left: 70px;
  }
  50% {
    opacity: 10%;
    bottom: 30px;
    left: 100px;
  }
  100% {
    opacity: 100%;
    bottom: 0px;
    left: 70px;
  }
}
