.dropdown-input-container {
  position: relative;

  &:hover .dropdown-input-placeholder {
    border-color: var(--input-border-color-dark);
  }
}

.dropdown-input-placeholder {
  display: flex;
  height: var(--input-height);
  background-color: white;
  align-items: center;
  padding: var(--input-padding);
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  text-align: center;
  font-size: var(--input-font-size);
  color: var(--input-placeholder-fg);
  transition: border 0.15s ease;
  box-sizing: border-box;

  &.is-option-selected {
    color: black;
  }

  &.showing-options {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
  }
}

.dropdown-input-chevron-icon {
  margin-left: auto;
}

.dropdown-input-icon {
  margin-right: 20px;
  font-size: 16px;
  min-width: 16px;
}

.dropdown-input-placeholder-icon {
  font-size: 18px;
}

.dropdown-input-options {
  position: absolute;
  z-index: 101;
  display: none;
  background-color: white;
  overflow: hidden;
  list-style: none;
  transform-origin: top;
  border-bottom-left-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
  font-size: 12px;
  left: 0px;
  right: 0px;
  border: 1px solid var(--input-border-color);

  &.showing-options {
    display: block;
  }
}

.dropdown-input-placeholder,
.dropdown-input-option {
  cursor: pointer;
}

.dropdown-input-option {
  padding: var(--input-padding);
  display: flex;

  &:hover {
    color: var(--highlight-blue);
  }
}
