.editable-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.editable-input-drag-handle {
  display: flex;
  position: absolute;
  left: -35px;
  align-items: center;
  justify-content: center;
  cursor: grab;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;

  &:hover {
    color: var(--highlight-blue);
  }
}

.editable-input-buttons {
  display: flex;
  gap: 5px;
}

.editable-input-delete-link,
.editable-input-edit-link {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: white;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: unset;
  transition: color 0.15s;

  &:hover {
    color: var(--highlight-blue);
    box-shadow: inset var(--input-box-shadow-dark) 0 0 0 1px;
  }
}
