.number-input {
  width: 100%;
  height: var(--height-input);
  border: none;
  box-sizing: border-box;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  box-shadow: inset var(--input-box-shadow-light) 0 0 0 1px;
  font-size: var(--input-font-size);
  transition: box-shadow 0.15s ease;
}

.number-input:focus {
  outline: none;
}

.number-input:hover {
  box-shadow: inset var(--input-box-shadow-dark) 0 0 0 1px;
}

.number-input::placeholder {
  color: var(--input-placeholder-fg);
}
