.editor-partial {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  align-items: center;
  box-shadow: black 2px 0px 4px 0px;
  top: 0;
  height: 100vh;
  animation-name: editor-partial-fade-in-right;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  width: 300px;
}

.editor-partial-options-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  height: calc(100% - 140px);
  padding-right: 15px;
  width: 90%;
  overflow-y: auto;
}

.editor-partial-buttons-container {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin-top: auto;
}

.editor-partial-save,
.editor-partial-cancel {
  box-shadow: 0px 1px 5px #b1b0b5;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 5px;
}

.editor-partial-save {
  background-color: var(--highlight-blue);

  &:hover {
    background-color: var(--highlight-dark-blue);
  }
}

.editor-partial-cancel {
  background-color: var(--disabled-gray);
  color: black;

  &:hover {
    background-color: var(--disabled-dark-gray);
  }
}

@keyframes editor-partial-fade-in-right {
  from {
    right: -310px;
  }
  to {
    right: 0px;
  }
}
