.summary-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.summary-view-response {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  width: 95%;
  font-size: var(--input-font-size);
  border-top: 1px solid var(--input-border-color);
  transition: all 0.15s ease;
  animation: summary-view-fade-in 1s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  background-color: white;
}

.summary-view-question {
  font-size: 20px;
}

@keyframes summary-view-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
