.text-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-description-body {
  border: 1px solid var(--input-border-color);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);

  &.has-placeholder {
    color: var(--input-placeholder-fg);
  }
}
